*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

/* nav style */

.nav-contrainer{
    background-color: gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 100px;
    font-size: 18px;

}
.nav-logo{
    display: flex;
    align-items: center;
    color: aquamarine;


}
.nav-menu{
    list-style: none;
    display: flex;
    align-items: center;

    
}
.nav-menu a{
    text-decoration: none;
    color: whitesmoke;
    margin-right: 10px;
}

/* banner section */

.banner-section{
    background-image: url('../asset/image/background.jpg'), linear-gradient(rgba(108, 105, 105, 0.5), rgb(100, 88, 88,0.8));
    background-blend-mode: overlay;

    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

}
.banner-container{
   text-align: center;
   margin: 0 auto;
   color: white;
   
}
.banner-heading{
    font-size: 80px;
    color: white;
    font-weight: bold;

}
span{
    color: red;
}
.banner-des{
    font-size: 25px;
    /* margin: 0 120px; */

}
.btn{
    padding: 15px 20px;
    margin-top: 10px;
    border: none;
    margin-right: 15px;

}
.btn1{
    background-color: rgb(251, 43, 43);
    color: white;
}
.service-section{
    background-image: url('../asset/image/footer-bg.png'), linear-gradient(rgba(6, 5, 5),rgb(0, 0, 0,0.9));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
}
.service-contrainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(211, 209, 209, 0.8);
    margin: auto;
    padding: 80px;


}
.button{
    padding: 15px 25px;
    margin-top: 10px;
    border: none;
    border-radius: 35px;
    margin-right: 15px;
    font-size: 20px;

}
.service-column{
   
}
.service-heading{
    font-size: 45px;
    margin-bottom: 8px;
}
.service-details{
    font-size: 20px;
}
.service-list{

}
.service-own{
    margin-right: 15px;
    
}
.author{
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 30px;
}
.img-a{
    border-radius: 50%;
    width: 100px;
}

.img-content{
    display: flex;
    color: black;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
.img-content img{
    width: 150px;
    height: 150px;
    padding: 20px;
    margin-top: 25px;

}
.img-content div{
    width: 280px;
    height: 300px;
    background: white;
    margin: 10px;
    border-radius: 5px;
}
.appointment-content{
    width: 80%;
    margin: auto;
    background-color: rgb(206, 2, 2);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding: 20px 5px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: -70px;

}
.icon{
   display: flex ;
   align-items: center;
   justify-content: space-between;
   padding: 10px;
   border-right: 2px solid rgb(122, 113, 113);
   font-weight: bold;
   margin-right: 10px;
}
.icon-contrac{
    padding: 0 0 0 10px;
}
.icon-contrac h4{
    
    font-size: 40px;
}
.blog-head{
    text-align: center;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    /* align-items: center; */
    font-size: 35px;
    color: rgb(94, 93, 93);
    padding: 40px 0;
}
.blog-head p{
    text-align: center;
}
.box-content{

}
.box{
    display: flexbox;
    width: 400px;
    height: auto;
    box-sizing: border-box;
    box-shadow: 4px 5px 8px grey;
    border-radius: 8px;
 
}
.box-img{
    width: 400px;
    border-radius: 8px 8p 0 0;
}
.box-content{
    display: flex;
    gap: 20px;
    padding: 30px;
    justify-content: space-around;
}
.box h3, p{
    padding: 15px 25px 5px;
    text-align: justify;
    font-size: 26px;
}